.experience-section-container {
    height: fit-content;
}

.experience-heading-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-bottom: 5%;
}

.experience-heading, .experience-description {
    margin: 0;
    padding: 0;
}

.experience-heading {
    font-size: 2rem;
}

.experience-description {
    font-size: 1.5rem;
    color: gray;
}

.experience-cards {
    display: flex;
    flex-direction: column;
    gap: 24px;
}