.experience-section-container {
    min-height: calc(100vh - 100px);
    height: fit-content;
    width: 100vw;
}

.experience-heading-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-bottom: 5%;
}

.experience-heading, .experience-description {
    margin: 0;
    padding: 0;
}

.experience-heading {
    font-size: 2rem;
}

.experience-description {
    font-size: 1.5rem;
    color: gray;
}

.experience-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

/* Extra small devices - portrait phones */
@media (max-width: 599px) and (orientation: portrait) {
  /* Styles for portrait phones */

  .experience-section-container {
        text-align: center;
    }
}

/* Extra small devices - landscape phones */
@media (max-width: 932px) and (orientation: landscape) {
  /* Styles for landscape phones */
}

/* Small to medium devices - portrait tablets */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  /* Styles for portrait tablets */
}

/* Small to medium devices - landscape tablets */
@media (min-width: 933px) and (max-width: 1366px) and (orientation: landscape) {
  /* Styles for landscape tablets */
}

/* Medium to large devices - small desktops or large tablets */
@media (min-width: 1025px) and (max-width: 1439px) {
  /* Styles for small desktops or large tablets */
}

/* Large devices - desktops and up */
@media (min-width: 1440px) {
  /* Styles for large desktops and up */
}
