.experience-section-container {
    height: calc(100vh - 100px);
}

.experience-heading-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.experience-heading, .experience-description {
    margin: 0;
    padding: 0;
}

.experience-heading {
    font-size: 2rem;
}

.experience-description {
    font-size: 1.5rem;
    color: gray;
}