<button
    [type]="type()"
    [disabled]="disabled() || loading()"
    [class]="computedClasses()"
    (click)="handleClick($event)">
    
    @if (loading()) {
    <span class="spinner" aria-hidden="true"></span>
    }
    
    @if (icon() && !loading()) {
    <i [class]="'icon ' + icon()" aria-hidden="true"></i>
    }

    @if (label() && !loading()) {
        <div class="button-label">
            {{ label() }}
        </div>
    }
    
    <span class="button-content">
    <ng-content></ng-content>
    </span>
</button>