<!-- about-me-section.component.html -->
<div [@fadeInUp]="isVisible() ? 'visible' : 'hidden'" class="about-me-section-container">
    @if (screenMode() && ['phone-portrait', 'phone-landscape', 'tablet-portrait', 'tablet-landscape'].includes(screenMode()!)) {
        <img class="about-me-section-card" src="browser/assets/matthew-killeen-profile-image.jpeg" />
    }
    <div class="about-me-section-content">
        <h2 class="about-me-heading">{{ title() }}</h2>
        <div class="about-me-description-container">
            @for (paragraph of descriptionParagraphs(); track paragraph; let i = $index) {
                <p class="about-me-description-paragraph">
                    {{ paragraph }}
                </p>
            }
        </div>
        <div class="technologies-info-container">
            <h2 class="technologies-heading">{{ technologiesTitle() }}</h2>
            @if (technologies()) {
                <div class="technologies-container">
                    @for (technology of technologies(); track technology) {
                        <app-label-badge [label]="technology" />
                    }
                </div>
            }
        </div>
    </div>

    @if (screenMode() && ['small-desktop', 'large-desktop'].includes(screenMode()!)) {
        <img class="about-me-section-card" src="browser/assets/matthew-killeen-profile-image.jpeg" />
    }
</div>