.about-me-section-container {
    min-height: calc(100vh - 100px);
    width: 100vw;
    display: flex;
}

.about-me-section-content {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 2.5%;
}

.about-me-heading, .technologies-heading {
    font-size: 2rem;
}

.about-me-description-paragraph {
    font-size: 1.25rem;
    color: gray;
    line-height: 1.75;
    width: 85%;
}

.technologies-container {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    width: 75%;
}

.about-me-section-card {
    border-radius: 10px;
    flex: 1;
    margin: 1.5%;
    box-shadow: -4px 4px 10px 2px;
}

@media(max-width: 768px) {

    .about-me-section-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about-me-section-content {
        width: 100%;
        text-align: center;
        margin: 0;
        align-items: center;
        justify-content: center;
    }

    .about-me-description-paragraph, .technologies-container {
        width: 100%;
    }

    .technologies-container {
        align-items: center;
        justify-content: center;
    }

    .about-me-section-card {
        display: none;
    }

}

