.featured-projects-section-container {
    min-height: calc(100vh - 100px);
    width: 100vw;
}

.featured-projects-heading-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-bottom: 5%;
}

.featured-projects-heading, .featured-projects-description {
    margin: 0;
    padding: 0;
}

.featured-projects-heading {
    font-size: 2rem;
}

.featured-projects-description {
    font-size: 1.5rem;
    color: gray;
}

.featured-project-cards {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: 0 5%;
}

/* Extra small devices - portrait phones */
@media (max-width: 599px) and (orientation: portrait) {
  /* Styles for portrait phones */

  .featured-projects-heading-info-container {
        text-align: center;
    }

    .featured-project-cards {
        display: flex;
        flex-direction: column;
    }
}

/* Extra small devices - landscape phones */
@media (max-width: 932px) and (orientation: landscape) {
  /* Styles for landscape phones */

  .featured-project-cards {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Changed from center */
    align-items: center;
    flex: 1; /* Take remaining space */
    gap: 1rem;
    overflow-y: auto; /* Allow scrolling if content overflows */
  }

}

/* Small to medium devices - portrait tablets */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  /* Styles for portrait tablets */
}

/* Small to medium devices - landscape tablets */
@media (min-width: 933px) and (max-width: 1366px) and (orientation: landscape) {
  /* Styles for landscape tablets */
}

/* Medium to large devices - small desktops or large tablets */
@media (min-width: 1025px) and (max-width: 1439px) {
  /* Styles for small desktops or large tablets */
}

/* Large devices - desktops and up */
@media (min-width: 1440px) {
  /* Styles for large desktops and up */
}
