.featured-projects-section-container {
    min-height: calc(100vh - 100px);
    height: fit-content;
    width: 100vw;
}

.featured-projects-heading-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-bottom: 5%;
}

.featured-projects-heading, .featured-projects-description {
    margin: 0;
    padding: 0;
}

.featured-projects-heading {
    font-size: 2rem;
}

.featured-projects-description {
    font-size: 1.5rem;
    color: gray;
}

.featured-project-cards {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: 0 5%;
}