.landing-page-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 200px;
    margin-bottom: 100px;
}

app-header {
  position: sticky;
  top: 0;
  z-index: 100;
}

app-navbar {
  flex-shrink: 0; /* don't shrink the navbar */
}

/* Extra small devices - portrait phones */
@media (max-width: 599px) and (orientation: portrait) {
  /* Styles for portrait phones */

  .landing-page-container {
        gap: 300px;
    }
}

/* Extra small devices - landscape phones */
@media (max-width: 932px) and (orientation: landscape) {
  /* Styles for landscape phones */
}

/* Small to medium devices - portrait tablets */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  /* Styles for portrait tablets */
}

/* Small to medium devices - landscape tablets */
@media (min-width: 933px) and (max-width: 1366px) and (orientation: landscape) {
  /* Styles for landscape tablets */
}

/* Medium to large devices - small desktops or large tablets */
@media (min-width: 1025px) and (max-width: 1439px) {
  /* Styles for small desktops or large tablets */
}

/* Large devices - desktops and up */
@media (min-width: 1440px) {
  /* Styles for large desktops and up */
}
