app-header {
  position: sticky;
  top: 0;
  z-index: 100;
}

.photos-container {
  min-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.photos-heading {
  font-size: 2rem;
  margin-bottom: 0;
}

.photos-description {
  font-size: 1.25rem;
  color: gray;
  text-align: center;
}

.photos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 400px;
  height: 100%;
  width: 90%;
  gap: 20px;
}

.image {
  border: 1px solid black;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

app-navbar {
  flex-shrink: 0; /* don't shrink the navbar */
}

/* Extra small devices - portrait phones */
@media (max-width: 599px) and (orientation: portrait) {
  /* Styles for portrait phones */

  .photos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}

/* Extra small devices - landscape phones */
@media (max-width: 932px) and (orientation: landscape) {
  /* Styles for landscape phones */

  .photos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}

/* Small to medium devices - portrait tablets */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  /* Styles for portrait tablets */

  .photos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .photos-heading {
    font-size: 5rem;
  }

  .photos-description {
    font-size: 3.125rem;
  }

}

/* Small to medium devices - landscape tablets */
@media (min-width: 933px) and (max-width: 1366px) and (orientation: landscape) {
  /* Styles for landscape tablets */

  .photos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .photos-heading {
    font-size: 5rem;
  }

  .photos-description {
    font-size: 3.125rem;
  }

}

/* Medium to large devices - small desktops or large tablets */
@media (min-width: 1025px) and (max-width: 1439px) {
  /* Styles for small desktops or large tablets */
}

/* Large devices - desktops and up */
@media (min-width: 1440px) {
  /* Styles for large desktops and up */
}