.app-layout {
  display: flex;
  flex-direction: column;
  height: 100vh; /* full height of the viewport */
  background: linear-gradient(135deg, #ffecd2 0%, #fcb69f 100%);
}

app-navbar {
  flex-shrink: 0; /* don't shrink the navbar */
}

.router-content {
  flex: 1; /* take up the remaining space */
}