.featured-project-card-container {
    height: 700px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: -1px 1px 5px 1px;
}

.featured-project-card-image-portion {
    height: 50%;
    width: 100%;
    border-radius: 10px;
}