.experience-card-container {
    width: 80vw;
    padding: 2.5%;
    border-radius: 10px;
    box-shadow: -1px 1px 5px 1px;
    position: relative;
}

.experience-card-title-info-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: fit-content;
}

.experience-card-title, .experience-card-company, .experience-description {
    margin: 0;
    padding: 0;
}

.duration-badge {
    position: absolute;
    top: 12.5%;
    right: 2.5%;
}

.experience-description {
    margin: 2rem 0;
    color: gray;
    font-size: 1.25rem;
}

.technologies-container {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    gap: 8px;
}

/* Extra small devices - portrait phones */
@media (max-width: 599px) and (orientation: portrait) {
  /* Styles for portrait phones */

  .experience-card-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }

    .duration-badge {
        position: static;
    }

    .experience-description {
        margin: 0;
    }

    .technologies-container {
        width: 100%;
    }
}

/* Extra small devices - landscape phones */
@media (max-width: 932px) and (orientation: landscape) {
  /* Styles for landscape phones */

  .experience-card-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }

    .duration-badge {
        position: static;
    }

    .experience-description {
        margin: 0;
    }

    .technologies-container {
        width: 100%;
    }
}

/* Small to medium devices - portrait tablets */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  /* Styles for portrait tablets */
}

/* Small to medium devices - landscape tablets */
@media (min-width: 933px) and (max-width: 1366px) and (orientation: landscape) {
  /* Styles for landscape tablets */
}

/* Medium to large devices - small desktops or large tablets */
@media (min-width: 1025px) and (max-width: 1439px) {
  /* Styles for small desktops or large tablets */
}

/* Large devices - desktops and up */
@media (min-width: 1440px) {
  /* Styles for large desktops and up */
}
