.main-section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5% 0;
}

.main-section-title, .main-section-description {
    text-align: center;
}

.main-section-title {
    font-weight: bold;
    font-size: 4.5rem;
    margin: 2.5%;
}

.main-section-description {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    color: gray;
}

.main-section-socials-links-container {
    display: flex;
    gap: 8px;
}