<div class="main-section-container">
    <h1 class="main-section-title">Hi, I'm {{ name() }}</h1>
    <p class="main-section-description">
        {{ description() }}
    </p>
    <div class="main-section-buttons-container">
        <!-- <app-button 
            variant="dark" 
            size="lg" 
            label="View My Work" 
            (clicked)="handleButtonClick()" 
        /> -->
        <app-download-button 
            fileUri="assets/current-resume-job-aplications-04-26-2025.pdf" 
            filename="Matthew-Killeen-Resume"
            variant="dark" 
            size="lg" 
            label="Download Resume" 
            (clicked)="handleDownloadButtonClick($event)" 
        />
    </div>
    <div class="main-section-socials-links-container">
        @if (socialsButtons()) {
            @for (socialsButton of socialsButtons(); track socialsButton) {
                <app-socials-button [socialsButton]="socialsButton" />
            }
        }
    </div>
</div>
