.main-section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
    height: calc(100vh - 100px);
    width: 90vw;
    height: 80vh;
}

.main-section-title, .main-section-description {
    text-align: center;
}

.main-section-title {
    font-weight: bold;
    font-size: 4.5rem;
    margin: 2.5%;
}

.main-section-description {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    color: gray;
    margin-bottom: 2.5%;
}

.main-section-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 2.5%;
}

.main-section-socials-links-container {
    display: flex;
    gap: 8px;
}

/* Extra small devices - portrait phones */
@media (max-width: 599px) and (orientation: portrait) {
  /* Styles for portrait phones */
}

/* Extra small devices - landscape phones */
@media (max-width: 932px) and (orientation: landscape) {
  /* Styles for landscape phones */

  .main-section-container {
    margin-top: 50px;
    height: 100vh;
  }
}

/* Small to medium devices - portrait tablets */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  /* Styles for portrait tablets */

  .main-section-title {
    font-size: 6rem;
  }

  .main-section-description {
    font-size: 3rem;
  }
}

/* Small to medium devices - landscape tablets */
@media (min-width: 933px) and (max-width: 1366px) and (orientation: landscape) {
  /* Styles for landscape tablets */
}

/* Medium to large devices - small desktops or large tablets */
@media (min-width: 1025px) and (max-width: 1439px) {
  /* Styles for small desktops or large tablets */
}

/* Large devices - desktops and up */
@media (min-width: 1440px) {
  /* Styles for large desktops and up */
}


